extends ./common

block main
  .p-4
    a.btn.btn-secondary.m-2(href=history, style="cursor: pointer") Back
    h2.text-center DANH SÁCH THUÊ DỊCH VỤ
    table.table.table-hover.table-sm
        thead.thead-light
          tr
            th Số phiếu
            th Mã dịch vụ
            th Số lượng
            th Giá dịch vụ
            th Chi tiết
        tbody
          each phieu in dsDang
            tr
              td= phieu.SO_PHIEU
              td= phieu.MA_DICHVU
              td= phieu.SOLUONG
              td= phieu.GIA_DICHVU
              td
                a.btn.btn-info(href=`/ketoan/ds-thuephong/phieu/${phieu.SO_PHIEU}`) i

    hr

    h2.text-center DANH SÁCH LƯU THUÊ DỊCH VỤ
    table.table.table-hover.table-sm
        thead.thead-light
          tr
            th Số phiếu
            th Mã dịch vụ
            th Số lượng
            th Giá dịch vụ
            th Chi tiết
        tbody
          each phieu in dsDa
            tr
              td= phieu.SO_PHIEU
              td= phieu.MA_DICHVU
              td= phieu.SOLUONG
              td= phieu.GIA_DICHVU
              td
                a.btn.btn-info(href=`/ketoan/ds-thuephong/phieu/${phieu.SO_PHIEU}`) i