extends ./common

block main
  .container.py-4
    h1.text-center Trả phòng

    form(action="/letan/phong/traphong", method="POST")
      .form-group.d-flex.align-items-center
          label.mr-2(for="maphong") Phòng
          input#maphong.form-control(type="text", value=phong, name="MAPHONG")
      input#list-tonthat(type="text", hidden, name="tonthat")
      .text-right
        button.btn.btn-primary(type="submit") Trả phòng

    h5.text-center Thêm tổn thất
    .d-flex
      select#vattu-tonthat.form-control
        each vatTu in dsVatTu
          option(value=vatTu.MA_VATTU)= vatTu.TEN_VATTU
      input#soluong-tonthat.form-control(type="number", placeholder="Số lượng" min="1")
    .text-right.mt-1
      button#add-tonthat.btn.btn-success(type="button") Thêm
    
    h5.text-center Bảng tổn thất
    table.table.table-sm.table-hover
      thead.thead-light
        tr
          th Mã vật tư
          th Số lượng
      tbody#bang-tonthat
    
    h5.text-center.border-top.pt-4 Bảng chú thích vật tư
    table.table.table-sm.table-hover
      thead.thead-light
          tr
            th Mã vật tư
            th.text-left Tên vật tư
            th Chi phí bồi thường
      tbody
        each vatTu in dsVatTu
          tr
            td= vatTu.MA_VATTU
            td.text-left= vatTu.TEN_VATTU
            td= vatTu.CHIPHI_BOITHUONG
  script(src="/scripts/tonthat.js")